.row {
    margin-top: 40px;
    text-align: center;
  }
  .btn {
    text-transform: uppercase;
    padding: 9.5px 10px;
    font-weight: bold;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    
    margin-right: 7px;
  }

  .default1 {
    background-color: transparent;
    color: #000;
    border-color: #000;
    border-width: 1px;

    padding-left: 10px;
    padding-right: 10px;
  }
  .default1:hover {
    color: #fff;
    background-color: #000;
    border-color: none;
  }
  .primary1 {
    background-color: transparent;
    color: #0088CC;
    border-color: #0088CC;
  
    padding-left: 25px;
    padding-right: 25px;
  }
  .primary1:hover {
    color: #fff;
    background-color: #0088CC;
    border-color: none;
  }
  .info1 {
    background-color: transparent;
    color: #5bc0de;
    border-color: #5bc0de;
  
    padding-left: 50px;
    padding-right: 50px;
  }
  .info1:hover {
    color: #fff;
    background-color: #5bc0de;
  }
  .success1 {
    background-color: transparent;
    color: #51A351;
    border-color: #51A351;
 
    padding-left: 40px;
    padding-right: 40px;
  }
  .success1:hover {
    color: #fff;
    background-color: #51A351;
  }
  .warning1 {
    background-color: transparent;
    color: #F89406;
    border-color: #F89406;
  
    padding-left: 50px;
    padding-right: 50px;
  }
  .warning1:hover {
    color: #fff;
    background-color: #F89406;
  }
  .danger1 {
    background-color: transparent;
    color: #BD362F;
    border-color: #BD362F;
  
    padding-left: 60px;
    padding-right: 60px;
  }
  .danger1:hover {
    color: #fff;
    background-color: #BD362F;
  }
  